@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");

$primary: hsl(220, 98%, 61%);
$secondary: white;
$text: #151515;
$gradient: linear-gradient(to right, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
$gray1: hsl(0, 0%, 98%);
$gray2: hsl(236, 33%, 92%);
$gray3: hsl(233, 11%, 84%);
$gray4: hsl(236, 9%, 61%);
$gray5: hsl(235, 19%, 35%);
$lightHomeImage: url("/public/img/bg-desktop-light.jpg");
$darkHomeImage: url("/public/img/bg-desktop-dark.jpg");

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}

body {
  font-family: "Josefin Sans", sans-serif;
  background: $gray1;
  color: $text;
  font-size: 1.4rem;
  line-height: 1.6;
  height: 100%;
  min-height: 100vh;
  font-weight: 400;
}

h1 {
  font-size: 4rem;
  color: $secondary;
  letter-spacing: 2rem;
  font-weight: 700;
}

h2 {
  font-size: 2.5rem;
}

p {
  font-size: 1.4rem;
  font-weight: 400;
  margin-bottom: 0;
}

a {
  text-decoration: none;
  color: #fff;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

.background {
  background: $lightHomeImage;
  background-size: cover;
  position: absolute;
  top: 0;
  height: 30vh;
  width: 100%;
}

main {
  position: relative;
  width: 50%;
  max-width: 1000px;
  margin: 5rem auto;
  min-height: 30vh;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  img {
    height: 25px;
    width: 25px;
  }
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  > div,
  > li,
  > p {
    padding: 1rem;
  }
}

form,
.todo {
  width: 100%;
  background: $secondary;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-align: left;
  padding: 0 2rem;
  input {
    padding: 2rem;
    font-size: 2rem;
    color: $gray4;
    outline: none;
    border: none;
    width: 100%;

    &::placeholder {
      opacity: 0.5;
    }
  }
}

.round {
  height: 24px;
  width: 24px;
  border-radius: 50%;
  border: 1px solid $gray2;
  transition: all 0.5s ease;
  position: relative;
  cursor: pointer;
  &:hover {
    border: none;
    background: $gradient;
    &::after {
      content: "";
      position: absolute;
      top: 2px;
      right: 2px;
      left: 2px;
      bottom: 2px;
      background: $gray1;
      border-radius: 50%;
    }
  }
}

.todo-list-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  background: $secondary;
  border-radius: 5px;
  background: $secondary;
  margin: 2rem auto;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 1px 1px 7px rgb(220, 220, 220);
  .todo-list {
    width: 100%;
  }
  .todo {
    border-bottom: 1px solid $gray2;
    border-radius: 0;
    cursor: pointer;
    p {
      padding: 3rem;

      line-height: 100%;
      width: 100%;
    }
    .cross {
      opacity: 0;
      margin-left: auto;
      height: 24px;
      width: 24px;
      cursor: pointer;
    }
    &:hover .cross {
      opacity: 1;
    }
    &.completed {
      p {
        opacity: 0.5;
        text-decoration: line-through;
      }
      .round {
        background: $gradient;
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
        &::after {
          font-family: "Font Awesome 5 Free";
          font-weight: 900;
          color: white;
          content: "\f00c";
        }
      }
    }
  }
}

.info-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 2rem;
  color: $gray4;
  li {
    cursor: pointer;
    transition: all 0.3s ease;
    &:hover {
      color: $text;
    }
    &.clicked {
      color: $primary;
    }
  }
}

.drag-drop {
  text-align: center;
  padding: 5rem;
  font-size: 1rem;
  color: $gray4;
}
