@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}

body {
  font-family: "Josefin Sans", sans-serif;
  background: #fafafa;
  color: #151515;
  font-size: 1.4rem;
  line-height: 1.6;
  height: 100%;
  min-height: 100vh;
  font-weight: 400;
}

h1 {
  font-size: 4rem;
  color: white;
  letter-spacing: 2rem;
  font-weight: 700;
}

h2 {
  font-size: 2.5rem;
}

p {
  font-size: 1.4rem;
  font-weight: 400;
  margin-bottom: 0;
}

a {
  text-decoration: none;
  color: #fff;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

.background {
  background: url("/public/img/bg-desktop-light.jpg");
  background-size: cover;
  position: absolute;
  top: 0;
  height: 30vh;
  width: 100%;
}

main {
  position: relative;
  width: 50%;
  max-width: 1000px;
  margin: 5rem auto;
  min-height: 30vh;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header img {
  height: 25px;
  width: 25px;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex > div,
.flex > li,
.flex > p {
  padding: 1rem;
}

form,
.todo {
  width: 100%;
  background: white;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  text-align: left;
  padding: 0 2rem;
}

form input,
.todo input {
  padding: 2rem;
  font-size: 2rem;
  color: #9394a5;
  outline: none;
  border: none;
  width: 100%;
}

form input::-webkit-input-placeholder,
.todo input::-webkit-input-placeholder {
  opacity: 0.5;
}

form input:-ms-input-placeholder,
.todo input:-ms-input-placeholder {
  opacity: 0.5;
}

form input::-ms-input-placeholder,
.todo input::-ms-input-placeholder {
  opacity: 0.5;
}

form input::placeholder,
.todo input::placeholder {
  opacity: 0.5;
}

.round {
  height: 24px;
  width: 24px;
  border-radius: 50%;
  border: 1px solid #e4e5f1;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  position: relative;
  cursor: pointer;
}

.round:hover {
  border: none;
  background: -webkit-gradient(linear, left top, right top, from(#57ddff), to(#c058f3));
  background: linear-gradient(to right, #57ddff, #c058f3);
}

.round:hover::after {
  content: "";
  position: absolute;
  top: 2px;
  right: 2px;
  left: 2px;
  bottom: 2px;
  background: #fafafa;
  border-radius: 50%;
}

.todo-list-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: white;
  border-radius: 5px;
  background: white;
  margin: 2rem auto;
  border-radius: 5px;
  overflow: hidden;
  -webkit-box-shadow: 1px 1px 7px gainsboro;
          box-shadow: 1px 1px 7px gainsboro;
}

.todo-list-container .todo-list {
  width: 100%;
}

.todo-list-container .todo {
  border-bottom: 1px solid #e4e5f1;
  border-radius: 0;
  cursor: move;
}

.todo-list-container .todo p {
  padding: 3rem;
  line-height: 100%;
  width: 100%;
}

.todo-list-container .todo .cross {
  opacity: 0;
  margin-left: auto;
  height: 24px;
  width: 24px;
  cursor: pointer;
}

.todo-list-container .todo:hover .cross {
  opacity: 1;
}

.todo-list-container .todo.completed p {
  opacity: 0.5;
  text-decoration: line-through;
}

.todo-list-container .todo.completed .round {
  background: -webkit-gradient(linear, left top, right top, from(#57ddff), to(#c058f3));
  background: linear-gradient(to right, #57ddff, #c058f3);
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.todo-list-container .todo.completed .round::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: white;
  content: "\f00c";
}

.info-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 2rem;
  color: #9394a5;
}

.info-section li {
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.info-section li:hover {
  color: #151515;
}

.info-section li.selected {
  color: #3a7bfd;
}

.info-section .clear {
  cursor: pointer;
}

.drag-drop {
  text-align: center;
  padding: 5rem;
  font-size: 1rem;
  color: #9394a5;
}

.draggable.dragging {
  opacity: 0.5;
}
